.namelist{
    // background-color: rgba(249, 249, 249, 1);
    .title{
        height:100px;
        line-height: 100px;
        margin-left: 20px;
    }
    .title-name{
        width:96%;
        margin:auto;
        height:120px;
        background-color: #fff;
        display: flex;
        View{
            width:96%;
            margin:auto;
            // padding-top:20px; 
        }
    }
    .content {
        width: 96%;
        margin: 0 2% 130px 2%;
        // border: 1px solid #e4e4e4;
        background-color: #fff;
    }
    .header-color{
        .header{
            display: flex;
            height:80px;
            line-height: 80px;
            justify-content:space-around;
            width: 80%;
            margin-left: 4%;
            background-color: #fff;
            .fix1 {
                flex: 0.3;
                text-align: center;
            }
            .fix2 {
                flex: 1;
                padding-left: 32rpx;
            }
            .fix3 {
                flex: 0.4;
                text-align: center;
            }
        }
    }
    .table{
        width: 80%;
        height: 100px;
        line-height: 100px;
        margin-left: 4%;
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        position: relative;
        .fix1 {
            flex: 0.3;
            text-align: center;
        }
        .fix2 {
            flex: 1;
        }
        .fix3 {
            flex: 0.4;
            text-align: center;
        }
        // .bind{
        //     color: #71a0f7;
        //     text-decoration: underline;
        // }
        .poicon {
            position: absolute;
            right: -14%;
        }
        .at-button {
            border: 0;
            color: #71a0f7;
            text-decoration: underline;
        }
        .at-input__container {
            border: 1px solid #d7d7d7;
        }
        .at-input::after {
            border: 0;
        }
    }
    .namelist-add{
        width: 96%;
        height: 120px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        margin: 2px 2%;
        .edit-add{
            width:40%;
            margin: 20px 0;
            background-color: #fff;
            line-height: 80px;
            text-align: center;
            color: #7f7f7f;
            border:1px solid #d7d7d7;
        }
    }
}
.model-input{
    width:100%;
    width: 99%;
    border: 1px solid #ccc;
}
.model-text{
    width:100%;
    text-align: center;
}
.save-change {
    display: border-box;
    position: fixed;
    bottom: 16px;   
    height: 80px;
    width: 90%;
    left: 5%;
    background: #71a0f7;
    color: #fff;
    text-align: center;
    line-height: 80px;
}