@import "../../styles/mixin";

.iwxlogin-page {
  height: 100%;
  padding: 10PX 30PX;
  background: #fff;
}
.login {
  padding: 0 20PX;
}
.alert {
  margin: 20PX 10PX;
}
  
.alert .alert-title {
  font-weight: 400;
  font-size: 16PX;
  color: #000;
  margin-bottom: 10PX;
}
  
.alert-desc {
  display: block;
  list-style: disc inside none;
  margin-bottom: 20PX;
}
  
.alert .alert-text {
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: 14PX;
  color: #999;
}
  
.logged {
  margin-top: 100PX;
}
  
.logged .logged-icon {
  display: block;
  width: 64PX;
  height: 64PX;
  margin: 20PX auto;
}
  
.logged .logged-text {
  font-size: 14PX;
  color: #000;
  text-align: center;
  margin: 10PX 0;
}