@import "taro-ui/dist/style/components/flex.scss";

.Project-wrap {
  width: 100%;
  background-color: #FFF;
  color: #333;
  border-radius: 10px;
  -moz-box-shadow:2px 2px 5px #333333; 
  -webkit-box-shadow:2px 2px 5px #333333; 
  box-shadow:2px 2px 5px #333333;
  margin-bottom: 15PX;
  
  .InfoRow{
    padding: 5PX 10PX;
    border-bottom: solid 1PX #666;
  }

  .titleRow{
    padding: 10PX 0 5PX 0;
  }

  .dataRow{
    color: #666;
    padding: 5PX 0;

    .collect
    {
      float: right;

      .finishNum {
        font-size: large;
        color: #00FF00;
      }
    }
  }  

  .typeRow{
    padding: 5PX 0;
  }

  .typeName{
    background-color: #F6F7F6;
    padding: 3PX;
    border: solid 1px #dedede;
    border-radius: 10px;
  }

  .optRow{
    padding: 10PX;
  }

  .statusDesc{
    padding: 0;
  }

  .statusDescDot_stop{
    color: red;
  }
  .statusDescDot_run{
    color: green;
  }
  .statusDescDot_default{
    color: black;
  }
  .seperator{
    padding: 0 10PX 0 0
  }
}


