.checkobox-data{
    position: absolute;
    z-index: 100;
}
.Atlist-text{
    padding-left: 60px;
}
.edit-footer{
    display: flex;
    justify-content: space-around;
    position:fixed;
    bottom: 16px;   
    height:100px;
    width:90%;
    left:5%;
    z-index:1000;
    .edit-save{
        flex: 0.9;
        background-color: #fff;
        line-height: 100px;
        text-align: center;
        color: #71a0f7;
        border:1px solid #71a0f7;
    }
    .edit-send{
        width: 49%;
        color: #fff;
        background-color: #71a0f7;
        line-height: 100px;
        text-align: center;
    }
}

.daa-data{
    margin-bottom: 20px;
}
.list-item {
    width: 100%;
    height: 140px;
    background: #fff;
    display: flex;
    margin-bottom: 4px;
    .checkobox-data {
        width: 100px;
        overflow: hidden;
    }
    .at-checkbox::before {
        border: 0;
    }
    .at-checkbox::after {
        border: 0;
    }
    .item-content {
        flex: 0.9;
        margin-left: 100px;
        display: flex;
        justify-content: space-between;
        .left {
            text-align: left;
            .title {
                height: 90px;
                line-height: 90px;
            }
            .count {
                color: #999;
                font-size: 26px;
            }
        }
        .right {
            text-align: right;
            line-height: 140px;
            color: #999;
        }
    }
}
.content {
    margin-bottom: 130px;
}
.list-img{
    width: 300px;
    height: 300px;
    margin-top: 30%;
}