@import "../../styles/mixin";

.create-fill{
    position: fixed;
    bottom: 116px;
    left: 3%;
    width: 94%;
}
.list-img{
    width: 250px;
    height: 250px;
    margin: 200px auto;
    margin-left: 34%;
}
