@import "../../styles/mixin";

.create-fill{
    position: fixed;
    bottom: 116px;
    left: 3%;
    width: 94%;
}
.list-img{
    width: 300px;
    height: 300px;
    margin: 24% auto;
    margin-left: 30%;

}
