@import "taro-ui/dist/style/components/flex.scss";
@import "../../styles/base.scss";

.AnswerSubList-wrap {
  width: 100%;
}

.subDesc{
  padding: 10px 0 10px 5px;
}

.sub{
  padding: 10px 0;
}

.sublabel{
  padding: 10px 0;
}