.single-choice{
    background-color: #fff;
    .single-opts{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        min-height: 100px;
        line-height: 1.8;
        border-bottom:1px solid rgba(238, 238, 238, 1);
        padding: 14px 0;
    }
}