@import "../../styles/base.scss";

.answerData-wrap {
  width: 100%;
  margin-top: 5PX;
}

.table {
  border:1px solid #D7D7D7;
  border-right: 0;
  border-bottom: 0;
  width: 98%;
}
.tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.th,.td {
  border-bottom: 1px solid #D7D7D7;
  text-align: center;
  width:100%
}
.td {
  padding: 20px 10px;
  font-size: smaller;
}
.th {
  padding: 10px;
  font-weight: 400;
  background-color: #F2F2F2;
  font-size: small;
}
.answering{
  color: #ffac3b;
}
.finish{
  color: #10cca9;
}
.other{
  color: #bbbbbb;
}