@import "../../styles/mixin";

.answerInfo{
    margin: 20px 0 30px 0;
}

.panelInfoLine {
    padding: 15px 0;

    .leftInfo{
        text-align: right;
        font-weight: bold;
    }
}

.anwQuestion{
    padding: 20px 0;
    border-bottom: 1px solid #D7D7D7;

    .qtDesc{
        font-weight: bold;
        padding-bottom: 10px;
    }
}

.delButton{
    padding-top: 20px;
}

.danger{
    background-color: #FF0000;
}