.tempalate-box{
    background-color: rgba(245, 245, 249, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .list{
        width: 48%;
        height: 370rpx;
        //border: 1rpx solid #ccc;
        margin: 5px 4px 4px 8px;
        background-color: #ffffff;
    }
}