.answer{
    background-color: rgba(245, 245, 245, 1);
    
    .change-name{
        display: flex;
        justify-content: space-between;
        height:100px;
        line-height: 100px;
        background-color: #fff;
        border-top:1px solid rgba(238, 238, 238, 1);
        padding:0 10px 10px 10px;
    }
    .answer-list{
        margin:20px 0 20px 0;
    }
    .answer-title{
        height: 200px;
        background-color: #fff;
        margin-top: 20px;
        .title{
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-bottom:1px solid rgba(238, 238, 238, 1);
        }
        .memo{
            height: 100px;
            line-height: 100px;
            text-align: center;
            color: #ccc;
        }
    }
    .answer-footer{
        width:90%;
        margin:auto;
        
    }

    .pass-content{
        min-height: 50px;
    }
    .answer-namelist{
        .tip{
            height: 60px;
            line-height: 60px;
            color: #ccc;
            text-align: center;
        }
        .content-name{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .name{
                width:40%;
                height:80px;
                line-height: 80px;
                border:1px solid rgba(52, 120, 247, 1);
                text-align: center;
                display: flex;
                margin-bottom: 10px;
                .name-key{
                    width:30%;
                    height:80px;
                    border-right:1px solid rgba(52, 120, 247, 1);
                }
                .name-text{
                    text-align: center;
                    width: 70%;
                }
            }
        }
    }
    .finish{
        height: 50px;
        line-height: 50px;
        color: #ccc;
        text-align: center;
    }
    .finish-namelist{
        display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .finish-name{
                width:40%;
                height:80px;
                line-height: 80px;
                border:1px solid rgb(223, 221, 221);
                text-align: center;
                display: flex;
                margin-bottom: 10px;
                .finish-key{
                    width:30%;
                    height:80px;
                    border-right:1px solid rgb(223, 221, 221);
                }
                .name{
                    width: 70%;
                }
            }
    }
}