.new-question{
    margin-top:20px;
    .add-question{
        background-color: #fff;
        height: 120px;
        line-height: 120px;
        display: flex;
        .add{
            margin:5px 0 0 25px;
        }
    }
}
.change-qt{
    display: flex;
    justify-content: space-between;
    height:100px;
    line-height: 100px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}