.multi-choice{
    background-color: #fff;
    
    .multi-width{
        width:95%;
        margin: auto;
    }
    .multi-opt{
        display: flex;
        background-color: #ffffff;
        .multi-input{
            width:90%;
        }
        .multi-icon{
            margin-top:10px;
        }
    }
}