.open{
    .open-width{
       width: 95%;
       margin: auto; 
    }
    margin-bottom: 20px;
    .open-text{
        height:100px;
        line-height: 100px;
        border-bottom: 1px solid #ccc;
    }
}