.qt-set{
    height:100px;
    background: #fff;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.qtset-con {
    .at-modal__content {
        min-height: 80rpx!important;
    }
}