@import "../../styles/base.scss";

.ChartOptTable-wrap {
  width: 100%;
}

.data{
  text-align: center;
  padding: 5PX;
}
.table {
  border-right: 0;
  border-bottom: 0;
  border: solid 1px #D7D7D7;
}
.tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.alter {
  background-color: #ECF5FF;
}
.right {
  border-right: 1px solid #D7D7D7;
}
.th,.td {
  border-bottom: 1px solid #D7D7D7;
  text-align: center;
  width:100%
}
.td {
  padding: 20px 10px;
  font-size: smaller;
}
.th {
  padding: 10px;
  font-weight: bold;
  background-color: #f2f2f2;
  font-size: small;
  color: #000000;
}

.num{
  font-weight: bold;
  padding: 5PX 0;
  color: #676767;
  font-size: 15PX;
  padding-left: 5PX;
}

.echarts {
  // position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

ec-canvas {
  width: 300PX;
  height: 300PX;
}