.view-data{
    height:280px;
    width: 100%;
    background-color: rgba(52, 120, 247, 0.682352941176471);
    position: relative;
    .data-step{
        position:absolute;
        bottom: 160px;
    }
    .view-right{
        position: absolute;
        right:0px;
        top:40px;
    }
    .view-left{
        position: absolute;
        left:0px;
        top:40px; 
        z-index: 100;
    }
    .view-step{
        display: flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        top: 40px; 
        .step-line{
            width: 80%;
            position: absolute;
            height: 6px;
            background-color: rgba(66, 123, 230, 0.682353);
            top: 30px;
        } 
        .step-light{
            display: flex;
            width: 70px;
            .step-lightleft{
            height: 20px;
            width: 8px;
            background-color: rgba(66, 123, 230, 0.682353);
            transform:rotate(-36deg);
            border-radius: 2px;
            }
            .step-lightmid{
                height: 20px;
                width: 8px;
                background-color: rgba(66, 123, 230, 0.682353);
                border-radius: 2px; 
                margin: 0px 28px 0px 28px;
                margin-top: -7px;
            }
            .step-lightright{
                height: 20px;
                width: 8px;
                background-color: rgba(66, 123, 230, 0.682353);
                transform:rotate(36deg);
                border-radius: 2px;
            }
        }      
        .step{
            width:50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50px;
            color: #fff;
            background-color: rgba(66, 123, 230, 1.682353);
        }
    }
}
.view-plain {
        padding-top:120px;
        .view-text{
            text-align: center;
            color:#fff;
            font-size: 28px;
        }
    }
.handle {
    height: 100px;
    line-height: 100px;
    background: #fff;
    padding: 0 40px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    .edit {
        color: #71a0f7;
        text-decoration: underline;
    }
}
.answer__info {
    padding: 10px 40px;
    background: #fff;
    .answer__qtn {
        padding: 20px 0;
        .qtn__title{
            margin-bottom: 10px;
        }
    }
}